{% extends "::base.html.twig" %}

{% block content %}
    <div class="col-sm-6">
        <h1 class="page-header">Nowe wydawnictwo</h1>
        {{ form_start(form,{attr:{class:'form-horizontal'}}) }}

        <div class="form-group">
            {{ form_label(form.name,'', {label_attr: {class: 'col-sm-3 control-label'}}) }}
            <div class="col-sm-9">
                {{ form_widget(form.name,{attr:{class:'form-control'}}) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                {{ form_row(form.save, {attr: {class: 'btn btn-default pull-right'}}) }}
            </div>
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}