<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Nasza biblioteka{% endblock %}</title>

        {# BOOTSTRAP #}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap-theme.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap-theme.min.css') }}" />


        {# własne arkusze #}
        <link rel="stylesheet" href="{{ asset('css/custom.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/SigningBundle/login-popup.css') }}" />   
        <link rel="stylesheet" href="{{ asset('css/SigningBundle/login.css') }}" />

    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
    {% block navbar %}                        
        {% if app.request.cookies.has('navBarOnTop') %}
            {% set navBarOnTop = app.request.cookies.get('navBarOnTop') %}
            {% if navBarOnTop == 'true' %}
                <nav id="navBar" class="custom_navbar_top custom_navbar navbar navbar-inverse" >
                {% else %}
                    <nav id="navBar" class="custom_navbar navbar navbar-inverse" >
                    {% endif %} 
                {% else %}
                    <nav id="navBar" class="custom_navbar_top custom_navbar navbar navbar-inverse" >
                    {% endif %}            

                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="{{ url('lib_hello_homepage') }}">Nasza Biblioteka</a>
                        </div>
                        {% block navbar_content %}  
                            <div>
                                <ul class="nav navbar-nav">
                                    <li><a href="{{ path('catalog') }}">Katalog</a></li>
                                    <li><a href="#">Kontakt</a></li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dodaj <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="{{ url('librarianAddGenre') }}">gatunek</a></li>
                                            <li><a href="{{ url('librarianAddPublisher') }}">wydawcę</a></li>
                                            <li><a href="{{ url('librarianAddAuthor') }}">autora</a></li>
                                            <li><a href="{{ url('librarianAddBook') }}">książkę</a></li>
                                        </ul>
                                    </li>

                                </ul>
                            </div>
                            {% if app.user %} {# użytkownik zalogowany #}
                                <div>                  
                                    <ul class="nav navbar-nav navbar-right">
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ app.user.username }} &nbsp<span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="{{ url('fos_user_profile_show') }}"><span class="glyphicon glyphicon-cog"></span>&nbsp Moje konto</a></li>
                                                <li><a href="{{ url('fos_user_security_logout') }}"><span class="glyphicon glyphicon-log-in"></span>&nbsp Wyloguj</a></li>                                                                                                
                                            </ul>
                                        </li>
                                        
                                        <li><a id="navBarPin" href="{{ url('lib_nav_bar_homepage') }}"><span class="glyphicon glyphicon-pushpin"></span></a></li>
                                    </ul>
                                </div>
                            {% else %} {# użytkownik niezalogowany #}
                                <div>                  
                                    <ul class="nav navbar-nav navbar-right">
                                        <li><a href="{{ url('fos_user_registration_register') }}"><span class="glyphicon glyphicon-user"></span>&nbsp Zarejestruj</a></li>
                                        <li><a href="#login-box" class="login-window"><span class="glyphicon glyphicon-log-in"></span>&nbsp Zaloguj</a></li>
                                        <li><a id="navBarPin" href="{{ url('lib_nav_bar_homepage') }}"><span class="glyphicon glyphicon-pushpin"></span></a></li>
                                    </ul>
                                </div>
                            {% endif %}
                        {% endblock %} 
                    </div>
                </nav>
            {% endblock %}  
            {% block body %}
                <div class="custom_container container">
                    {% block header %}
                        <div class="custom_jumbotron jumbotron">
                            <h1>Witaj w naszej bibliotece</h1>      
                            <p>Możesz tutaj wypożyczać książki :)</p>      
                        </div>
                    {% endblock %}

                    <div class="container panel-body">
                    {% block content %}{% endblock %}      
                </div>
            </div>
        
        
        <div id="login-box" class="login-popup">
            <div class="wrapper">
                <div class="login-container">
                        <h1>Witaj w naszej bibliotece</h1>

                        <form action="{{ path("fos_user_security_check") }}" method="post" class="form">
                                
                                <input type="text" class="login-input" id="username" name="_username" required="required" placeholder="Login" />
                                <input type="password" class="login-input" id="password" name="_password" required="required" placeholder="Hasło" />

                                <div class="login-options">
                                    <input class="login-checkbox" type="checkbox" id="remember_me" name="_remember_me" value="on" />
                                    <label class="login-checkbox" for="remember_me">&nbsp {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
                                    <a class="login-remind" href="{{ path('fos_user_resetting_request') }}">Przypomnij</a>
                                </div>
                                <input type="hidden" id="target" name="_target_path" value="" />
                                <div class="login-submit">
                                    <input type="submit" id="_submit" class="login-button" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />                        
                                </div>
                        </form>
                </div>

                <ul class="bg-bubbles">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        
                </ul>
            </div>
        </div>
{% endblock %}

<script type="text/javascript" src="{{ asset('js/jquery-2.1.4.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/NavBarBundle/pin.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/SigningBundle/login-popup.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
