{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/SigningBundle/custom.css') }}" />
{% endblock %}

{% block content %}
    <div class='row col-lg-10 col-lg-offset-1'>  
        <h1 class="show_h1 col-lg-12">
            Zmiana hasła
        </h1>
        
        {{ form_start(form, {'attr': {'class': 'form_validate custom_form_reg form_change_pass form-horizontal col-lg-6 fos_user_change_password'}}) }}
        <div class="form-group">
            {{ form_label(form.current_password, 'Bieżące hasło:', {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
            <div class="col-sm-8">
                {{ form_widget(form.current_password, {'attr': {
                    'class': 'form-control',
                    'data-msg-minlength': 'Hasło musi posiadać co najmniej 8 znaków',
                    'data-msg-maxlength': 'Hasło może posiadać maksymalnie 20 znaków',
                    'data-msg-required': 'To pole jest wymagane',
                    'data-rule-minlength': '8',
                    'data-rule-maxlength': '20',
                    'data-rule-required': 'true'                                  
                }}) }}
                {{form_errors(form.current_password)}}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.new.first, 'Nowe hasło:', {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
            <div class="col-sm-8">
                {{ form_widget(form.new.first, {'attr': {
                    'class': 'form-control',
                    'data-msg-minlength': 'Hasło musi posiadać co najmniej 8 znaków',
                    'data-msg-maxlength': 'Hasło może posiadać maksymalnie 20 znaków',
                    'data-msg-required': 'To pole jest wymagane',
                    'data-rule-minlength': '8',
                    'data-rule-maxlength': '20',
                    'data-rule-required': 'true'                                  
                }}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.new.second, 'Powtórz hasło:', {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
            <div class="col-sm-8">
                {{ form_widget(form.new.second, {'attr': {
                    'class': 'form-control',
                    'data-msg-minlength': 'Hasło musi posiadać co najmniej 8 znaków',
                    'data-msg-maxlength': 'Hasło może posiadać maksymalnie 20 znaków',
                    'data-msg-required': 'To pole jest wymagane',
                    'data-msg-equalto': 'Hasła muszą się zgadzać',
                    'data-rule-minlength': '8',
                    'data-rule-maxlength': '20',
                    'data-rule-required': 'true',
                    'data-rule-equalto': '#fos_user_change_password_form_new_first'            
                }}) }}
            </div>
        </div>
        <div class="btn_padding col-sm-offset-4" >
             <input type="submit" class='btn btn-default' value="Zmień hasło" />
        </div>     
        {{ form_end(form) }}
    </div> 
{% endblock %}

{% block javascripts %}        
    <script type="text/javascript" src="{{ asset('js/jquery.validate.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/SigningBundle/validation.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/SigningBundle/alerts.js') }}"></script>
{% endblock %}

